{% extends "../manager-base.html" %}
{% load static %}
{% block title %}
  {{category.name}}
{% endblock title %}
{% block content %}
<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-3 d-none d-lg-block align-items-center">
                        
                    </div>
                    <div class="col-lg-9 border">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">{{category.name}}</h1>
                            </div>
                                 <i><b>Description:</b></i><br>
                                 {{category.description}}
                                <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    Total meals in this category:
                                    <b class="text-primary">{{category.meal_set.all.count}}</b>
                                </div>
                                
                                
                            </div>
                           
                            <hr>
                            <div class="text-center">
                                <a href="{% url 'meal:update_category' category.id %}" class="btn btn-lg btn-info">Edit</a>  
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    
    
    <!-- Bootstrap core JavaScript-->
    
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'plugins/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/main-template.min.js' %}"></script>


</body>
  
{% endblock content %}


{{category.name}}
