
  {% extends "../user-base.html" %}
  {% load static %}
  {% block title %}
    Daily Menu
  {% endblock title %}
  {% block content %}
  <div class="container-fluid">
   
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0"><span class="float-left">Menu for: <span class="font-weight-bold text-primary">{{menu.get_day_name}}</span><br> 
          Menu status: <span class="font-weight-bold  text-{% if menu_status == 'Available' %}success{% else %}warning{% endif %}">{{menu_status}}</span></span>  
          <span class="float-right"> Your budget: <span class="fs-3 text-dark font-weight-bold">${{menu_budget}}</span></span>  </h6>
    </div>
    <div class="card-body">
      {% for message in messages %}
  <div class="alert alert-{{message.level_tag}}  alert-dismissible fade show">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  <div class="row" id="main" style="min-height:70vh;">
    <div class="col-md-2 col-lg-2">
      <h1 class="h3 mb-2 text-gray-800">Today's menu</h1>
      <p class="mb-4">Here you can find the meal list for today's menu.<br>
       To view more details about the meal, click on the meal name.<br>
       To add your preferred meal, click add to order. When you are done click complete order.</p>
    </div>
    <div class="col-md-6 col-lg-7">
      <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                  <th>Image</th>
                 <th>Meal Name</th>
                 <th>Price</th>
                 <th>Action</th>
                </tr>
            </thead>
            
            <tbody>
             {% for meal in meals %}
              <tr>
                <td> <img src="{{meal.meal_img.url}}" class="img-thumbnai" width="50px" height="50px" alt=""></td>
                <td><a href="{{meal.get_absolute_url}}" >{{meal.name|truncatechars:30}}</a> 
                  <small><br>{{meal.description|truncatechars:50}}</small>
                </td>
                <td>{{meal.price|floatformat:2}}
                  
                </td>
                <td>
                  <div class="btn-group vertical-align-middle" role="group">
                    <button value="{{meal.id}}"  id="add-btn{{meal.id}}" class="btn btn-info btn-sm ml-2" data-url="{% url 'order:add_to_order' %}">Add to Order</button>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            </table>
    </div>
      </div>
  <div  class="col-md-4 col-lg-3 order-md-last">
    <div id="menu-items">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-primary">Your order</span>
      
      <span class="badge bg-primary rounded-pill">{% with bag|length as b %}
        {{b}}
        {% endwith %}</span>
    </h4>
    
    <ul class="list-group mb-3">
      {% for i in bag.get_menu_items.values %}
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <h6 class="my-0">{{i.name}}</h6>
          <small class="text-muted">{{i.meal_category}}</small>
        </div>
        <span class="text-muted">${{i.price}} 
          <button class="btn"  id="del-btn{{i.id}}" value="{{i.id}}" data-url="{% url 'order:add_to_order' %}">
          <i class="bi bi-x-lg text-danger"></i>
        </button></span>
        
      </li>
      {% endfor %}
      <li class="list-group-item d-flex justify-content-between">
        <span>Menu total price (USD)</span>
        <strong>${{ bag.get_total_price|floatformat:2 }}</strong>
      </li>
    </ul>

    <form class="card p-2" action="{% url 'order:create_order' %}" method="post" >
      {% csrf_token %}
      <div class="input-group">
        <input type="hidden" name="menu_id" value="{{menu.id}}">
        <button type="submit" class="btn btn-success {% if bag|length == 0 %}disabled{% endif %}">COMPLETE ORDER</button>
      </div>
    </form>
  </div>
  </div>
  </div>
  
    </div>
  </div>
  

  
  

</div>
  <script src="{% static 'js/create_order.js' %}"></script>
  {% endblock%}