{% extends "../manager-base.html" %}
{% load static %}
{% block title %}
Dashboard
{% endblock title %}
{% block content %}
{% for message in messages %}
        <div class="alert alert-{{message.level_tag}}  alert-dismissible fade show">
            {{message}}
            <small><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></small>
        </div>
{% endfor %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>
<div class="row">
  
  

  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          Total orders this week</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{this_week_orders}}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>

 
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                          Total users registered</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_users}}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-user-tie fa-2x text-gray-300"></i>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>


  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                          Pending Orders Today</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{pending_orders}}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="row">

  <!-- Area Chart -->
  <div class="col-xl-8 col-lg-8">
      <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div
              class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Orders Overview</h6>
              
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div id="container" class="chart-area" style="width: 100%; height:auto;" data-url="{% url 'manager:number_of_orders_by_day' %}">
              <canvas id="population-chart" ></canvas>
            </div>
          </div>
      </div>
  </div>

  <!-- Pie Chart -->
  <div class="col-xl-4 col-lg-4">
      <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div
              class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Today's menu</h6>
              
          </div>
          <!-- Card Body -->
          <div class="card-body">
            {% if menu %}
            Menu for: <br>
            <b class="fs-5 text-dark">{{menu.get_day_name}}</b><br>
            Meals:
            {% for meal in menu.meals.all %}
            <li><a href="{{meal.get_absolute_url}}">{{meal.name}}</a></li>
            {% endfor %}
            Menu status:<br> 
            <b class="fs-5 text-dark">
            {% if menu.approved %}
              Approved
              {% else %}
              Pending
            {% endif %}
            </b><br>
            <hr>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                {% if not menu.approved %}
                <button data-url="{% url 'menu:approve_menu' menu.pk %}" value="{% url 'menu:approve_menu' menu.pk %}" class="btn btn-success btn-sm" id="approve-btn{{menu.pk}}"  data-bs-toggle="modal" data-bs-target="#approveModal"> 
                      <i class="fas fa-check"></i><span class="text">Approve</span></button>
                {% else %}
                <a href="{{menu.get_absolute_url}}" class="btn btn-info btn-sm"><i class="far fa-eye "></i> View menu</a>
                {% endif %}
                
              
            <a href="{% url 'menu:weekly_menu' %}" class="btn btn-primary btn-sm ml-1">
              <i class="fas fa-calendar-week"></i> Menus for this week
            </a>
            </div>
            
              {% else %}
              You have not created a menu for today!
              <hr>
              <a href="{% url 'menu:weekly_menu' %}" class="btn btn-info">
                 Create
              </a>
              {% endif %}
          </div>
      </div>
      <div class="card shadow mb-4">
        <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Custom Order</h6>
        
    </div>
    <div class="card-body">
       <div class="text-dark mb-3"> By clicking the button below you can create a custom order, no matter if the menu is accepted, expired or not.</div>
        <div class="text-center">
        <a href="{% url 'order:custom_order' %}"  class="btn btn-warning">Create custom order</a>
    </div></div>
      </div>
      
      
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="approveModal" tabindex="-1" aria-labelledby="approveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="approveModalLabel">You are about to approve a menu!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to <span class="text-warning">approve</span> this menu?<br>
          <hr>
          <b class="text-danger">Be careful!</b><br> 
          Once you approve the menu, <b><i>you cannot edit or delete it anymore</i></b>!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-warning" id="conf-btn">Approve</button>
        </div>
      </div>
    </div>
  </div>
  
<script src="{% static 'js/danger-confirmation.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src='{% static "js/manager-dashboard.js" %}'></script> 

{% endblock%}
