{% extends "../manager-base.html" %}

{% load static %}
{% block content %}
<link href='{% static "css/chat-draft.css" %}' rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" integrity="sha512-yVvxUQV0QESBt1SyZbNJMAwyKvFTLMyXSyBHDO4BG5t7k/Lw34tyqlSDlKIrIENIzCl+RVUNjmCPG+V/GMesRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container">
    <!-- For demo purpose-->
    
    
    <div class="row rounded-lg overflow-hidden shadow">
      
      <!-- Users box-->
      <div class="col-5 px-0">
        <div class="bg-white">
          <div class="bg-gray px-4 py-2 bg-light">
            <p class="h5 mb-0 py-1">Recent
              <select id="user-select"  class="chosen">
                {% for user in users %}
                {% if user.id != request.user.id %}
                  
                
                <option value="{{user.id}}" data-url='{% url "chat:create_thread" user.pk %}'>{{user.username}}</option>
                {% endif %}
                  {% endfor %}
              </select>
              
            </p>
          </div>
          
          <div class="messages-box full"> 
            <div class="list-group rounded-0">
              {% for thread in threads %}
              <a class="list-group-item list-group-item-action 
      {% if request.session.active_user_id %}
      {% if thread.first_person.id == request.session.active_user_id or thread.second_person.id == request.session.active_user_id %}
      active
      {% endif %}
      {% else %}
      {% if forloop.first %} active {% else %} list-group-item-light{% endif %}
      {% endif %} rounded-0"
              chat-id="chat_{{ thread.id }}"
              other-user-id="{% if thread.first_person == user %}{{ thread.second_person.id }}{% else %}{{ thread.first_person.id }}{% endif %}"
              >
                <div class="media"><img src="{% if thread.first_person == user %}{{ thread.second_person.get_profile_pic_url }}{% elif thread.second_person == user %}{{ thread.first_person.get_profile_pic_url }}{% else %}{% endif %}" 
                  onError="this.onerror=null;this.src='/img/default.png';"
                  alt="user" width="50" class="rounded-circle">
                  <div class="media-body ml-4">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                      <h6 class="mb-0 fw-bold">
                        {% if thread.first_person == user %}
              <span>{{ thread.second_person.username }}</span>
      {% else %}
          <span >{{ thread.first_person.username }}</span>
      {% endif %}
                      </h6><small class="small font-weight-bold" >
                        {{thread.chatmessage_thread.last.timestamp|date:"d-b-Y"}}
                      </small>
                    </div>
                    <p class="font-italic mb-0  text-small" id="contact-message">
                      {% if thread.first_person == user %}
                                <span>{{ thread.second_person.role.name }}</span>
                        {% else %}
                            <span >{{ thread.first_person.role.name }}</span>
                        {% endif %}
                    </p>
                  </div>
                </div>
              </a>
              {% endfor %}
              
  
              {% if thread.first_person == user %}
              <span>{{ thread.second_person.username }}</span>
      {% else %}
          <span >{{ thread.first_person.username }}</span>
      {% endif %}
                  

  
            </div>
          </div>
        </div>
      </div>
      <!-- Chat Box-->
      
      <div class="col-7 px-0 ">
        {% for thread in threads %}
          <div id="messages-wrapper"  
          class="{% if request.session.active_user_id %}
          {% if thread.first_person.id == request.session.active_user_id or thread.second_person.id == request.session.active_user_id %}
          hide is_active
          {% else %}
          hide
          {% endif %}
          
          {% else %}
          {% if forloop.first %}hide is_active{% else %}hide{% endif %}
          {% endif %}  "
          chat-id="chat_{{ thread.id }}"
          other-user-id="{% if thread.first_person == user %}{{ thread.second_person.id }}{% else %}{{ thread.first_person.id }}{% endif %}"
          >
          
          <div class="px-4 py-5 chat-box full bg-white msg_card_body" id="msg_card_bodychat_{{ thread.id }}">
            {% for chat in thread.chatmessage_thread.all %}
            {% if chat.user == user %}
            <div class="media w-50 ml-auto mb-3">
              <div class="media-body">
                <div class="bg-primary rounded py-2 px-3 mb-2">
                  <p class="text-small mb-0 text-white">{{ chat.message }} </p>
                </div>
                <p class="small text-muted text-uppercase">{{ chat.timestamp|time:"H:i" }} | {{ chat.timestamp|date:"d-b-Y" }}</p>
              </div>
            </div>
           
        {% else %}
        <div class="media w-50 mb-3">
          <img src="{{chat.user.employee.profile_pic.url}}" alt="user" width="50" class="rounded-circle">
          <div class="media-body ml-3">
            <div class="bg-dark rounded py-2 px-3 mb-2">
              <p class="text-small mb-0 text-white">{{ chat.message }}</p>
            </div>
            <p class="small text-muted text-uppercase">{{ chat.timestamp|time:"H:i" }} | {{ chat.timestamp|date:"d-b-Y" }}</p>
          </div>
        </div>
        {% endif %}
            {% endfor %}
            
            
          </div>
          </div>
        {% endfor %}
        
        <input type="hidden" id="logged-in-user" value="{{ user.id }}">
        <!-- Typing area -->
        <form action="#" class="bg-light" id="send-message-form">
          <div class="input-group">
            <input type="text" placeholder="Type a message"
            id="input-message"
            aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
            <div class="input-group-append">
              <button type="submit" class="btn btn-link">
               <i class="fa fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </form>
  
      </div>
    </div>
  </div>
  <script src="{% static 'js/chat-draft.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js" integrity="sha512-rMGGF4wg1R73ehtnxXBt5mbUfN9JUJwbk21KMlnLZDJh7BkPmeovBuddZCENJddHYYMkCh9hPFnPmS9sspki8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript">
    $(".chosen").chosen();
  </script>
{% endblock content %}
